<div class="race city-council">
    <p class="type">City council</p>
    <a href="#/group/council">
      <img src="http://projects.statesman.com/databases/city-council-districts/smallmap.jpg" style="width:100%;height:auto;"></img>
    </a>
    <div class="status">
      <p><a href="#/group/council"><i class="icon-expand"></i>Results by district</a></p>
    </div>
</div>
