<div class="race race-grid{{class race}}">
  <p class="type">{{race}}</p>
  <div class="hover-grid">
    {{#each options}}
      <p class="opt">{{shortName}}</p>
    {{/each}}
  </div>
  <div class="status">
    <p>{{status}}</p>
  </div>
</div>
