<div class="rail race">
  <p class="type">{{race}}</p>
  <div class="legend">
    <p class="opt"><span class="color yes"></span>Yes</p>
    <p class="opt"><span class="color no"></span>No</p>
  </div>
  <div class="reporting">{{reporting}}% reporting</div>
</div>
