
.icon-yes:before { content: '\e800'; } /* '' */
.icon-no:before { content: '\e801'; } /* '' */
.icon-repulican:before { content: '\e802'; } /* '' */
.icon-democrat:before { content: '\e803'; } /* '' */
.icon-expand:before { content: '\e804'; } /* '' */