
.icon-yes:before { content: '\e800'; } /* '' */
.icon-no:before { content: '\e801'; } /* '' */
.icon-republican:before { content: '\e802'; } /* '' */
.icon-democrat:before { content: '\e803'; } /* '' */
.icon-expand:before { content: '\e804'; } /* '' */
.icon-winner:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-election:before { content: '\e807'; } /* '' */