$gutter: golden-ratio(.25em, 1) !global;
$visual-grid: true !global;

body {
  margin: 0;
}

#elex-widget {
  @include clearfix;
  .race {
    @include span-columns(1 of 5);
    .opt {
      margin-bottom: 0.1em;
      > img {
        float: left;
        margin-top: 2px;
        opacity: .75;
        margin-right: 3px;
      }
      > i {
        margin-left: 2px;
        margin-right: -2px;
        color: #3b3b3b;
        &.icon-winner {
          color: #50AA1D;
        }
      }
    }
    .hover-grid .opt {
      margin-bottom: 0.45em;
    }
    .legend .opt {
      display: inline-block;
      margin-right: 0.35em;
    }
    .progress-bar-indication {
      margin-bottom: 0.5em;
    }
    &.race-yesno {
      .symbol {
        text-align: center;
        margin: .8em 0 .65em 0;
        [class^="icon-"]{
          font-size: 3em;
          line-height: 0.9em;
        }
      }
      .opt {
        margin: 0.3em 0 0.5em 0;
        line-height: 0.9em;
      }
      .count {
        float: right;
        font-weight: 800;
      }
    }
    &.race-grid {
      .status {
        margin-top: 0.65em;
      }
    }
    .status {
      text-align: center;
    }
  }
}

#race-detail {
  background: #fafafa;
  padding: 1em;
  margin-top: 1em;
  &:empty {
    display: none;
  }
  h1 {
    margin-bottom: .25em;
  }
  table.opts {
    margin-top: .25em;
  }
  th {
    font-weight: 600;
  }
  .icon-winner {
    color: #50AA1D;
    margin-left: .25em;
  }
  p.close {
    float: right;
    font-size: 0.8em;
  }
}

.right {
  float: right;
}

.status {
  margin-top: 0.4em;
  font-size: 0.75em;
  color: #3b3b3b;
  p {
    margin-bottom: 0;
  }
}
