$gutter: golden-ratio(.25em, 1) !global;
$visual-grid: true !global;

body {
  margin: 0;
}

.header {
  border-top: 1px solid #697e95;
  border-right: 1px solid #26394e;
  border-bottom: 1px solid #26394e;
  border-left: 1px solid #697e95;
  background: #375371;
  color: #fff;
  padding: .5em .75em .4em .75em;
  margin-bottom: 1em;
  h1 {
    margin-bottom: 0;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
  }
}

#elex-widget {
  @include clearfix;
  .race {
    @include span-columns(1 of 5);
    .opt {
      font-size: .8em;
      margin-bottom: 0.1em;
      > i {
        margin-left: 2px;
        margin-right: -2px;
        color: #3b3b3b;
        &.icon-winner {
          color: #50AA1D;
        }
      }
    }
    .progress-bar-indication {
      margin-bottom: 0.5em;
    }
    &.race-yesno {
      .symbol {
        text-align: center;
        margin: .8em 0 .65em 0;
        [class^="icon-"]{
          font-size: 3em;
          line-height: 0.9em;
        }
      }
      .opt {
        margin: 0.3em 0 0.5em 0;
        line-height: 0.9em;
      }
      .count {
        float: right;
        font-weight: 700;
      }
    }
    &.city-council {
      img {
        margin-bottom: -.5em;
        border: none;
      }
    }
    .status {
      text-align: center;
    }
  }
  /* Tweak for odd formatting on LVDP's row if she wins */
  .race {
    .opt.van-de-putte.winner {
      width: 75%;
    }
  }
}

#race-detail {
  background: #fafafa;
  padding: 0 1em;
  margin-top: 1em;
  h1 {
    padding-top: .75em;
  }
  .yesno {
    table thead tr th:first-child {
      visibility: hidden;
    }
  }
  .status {
    padding-bottom: 1em;
  }
  table.opts {
    margin-top: .25em;
  }
  th {
    font-weight: 600;
  }
  .icon-winner {
    color: #50AA1D;
    margin-left: .25em;
  }
  p.close {
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
  }
  .horizontal-nav {
    padding-top: 1.25em;
    > li {
      display: inline-block;
      font-size: .8em;
      margin-right: .5em;
      margin-bottom: .5em;
      border-bottom: 1px solid #adadad;
      line-height: 1.3em;
      a {
        color: #777;
        font-weight: 300;
        span {
          font-size: .9em;
        }
      }
      &.active {
        border-bottom-color: #333;
        a {
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
}

#embed {
  padding: 0 1em;
  h1 {
    padding-top: .75em;
  }
  .status {
    padding-bottom: 1em;
  }
  p.close {
    display: none;
  }
  .icon-winner {
    color: #50AA1D;
    margin-left: .25em;
  }
  th {
    font-weight: 600;
  }
}

.right {
  float: right;
}

.status {
  margin-top: 0.4em;
  font-size: 0.75em;
  color: #3b3b3b;
  p {
    margin-bottom: 0;
  }
}


a {
  color: #000098;
  &:hover {
    color: #006;
  }
}

td {
  font-size: .9em;
  padding: .6em 0;
}
